[mysqld]
ssl-ca=/etc/mysql/ssl/live/sql1.ardentguard.com/fullchain.pem
ssl-cert=/etc/mysql/ssl/live/sql1.ardentguard.com/cert.pem
ssl-key=/etc/mysql/ssl/live/sql1.ardentguard.com/privkey.pem
require_secure_transport=ON

